@import './sass/reset';

#main-heading {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  background: linear-gradient(rgb(22, 22, 22), rgb(44, 44, 44));
}

.table-container {
  width: 80%;
  height: 70vh;
  overflow: scroll;
  margin: 3.3rem auto 1.7rem auto;
  border-radius: 5px;
}

.pagination-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr 1fr;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  .back {
    justify-self: right;
    margin-top: -0.55rem;
    font-size: 2rem;
  }
  .forward {
    justify-self: left;
    margin-top: -0.55rem;
    font-size: 2rem;
  }
  .page-arrow {
    color: rgb(44, 44, 44);
    padding: 0.8rem;
    &:hover {
      transform: scale(1.35);
      cursor: pointer;
    }
  }
  .pagination-text {
    margin-top: 0.2rem;
    font-size: 1.3rem;
    grid-column: 2 / 3;
  }
}

